<p id="notice"><%= notice %></p>

<h3><%= @question.title %>(<%= "#{@question.stage}-#{@question.level}" %>)</h3>

<%= @question.question %>

<%= @question.link %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
