<%= bootstrap_form_for(@purpose) do |form| %>
  <% if purpose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purpose.errors.count, "error") %> prohibited this purpose from being saved:</h2>

      <ul>
        <% purpose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id %>

  <%= form.text_field :title, label: "目標(#{@now.year}年#{@now.month+1}月：XXXXX)" %>
  <%= form.text_area :text, label: "目標達成までの過程", rows: 15 %>
  <%= form.text_area :result, label: "結果(次回の1on1で記載します)", rows: 8 %>

  <% if @purpose.user_id == current_user.id then %>
    <div class="actions">
      <%= form.submit "保存", :class => "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
