<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @purpose.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @purpose.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @purpose.text %>
</p>

<p>
  <strong>Result:</strong>
  <%= @purpose.result %>
</p>

<%= link_to 'Edit', edit_purpose_path(@purpose) %> |
<%= link_to 'Back', purposes_path %>
