
<%= bootstrap_form_for(profile) do |form| %>
      <% if profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
          <ul>
          <% profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
  
      <% end %>
      <%= form.text_field :name, label: "名前" %>
      <%= form.text_field :name_kana, label: "よみがな" %>
      <%= form.text_field :slack_user_id, label: "SlackユーザーID" %>
      <%= form.text_field :github_id, label: "GitHub ID" %>
      <%= form.text_field :title, label: "学校・仕事等" %>
      <%= form.text_field :goal, label: "目標(こうなりたい！)" %>
      <%= form.text_field :message, label: "メッセージ(よろしく等)" %>
      <%= form.file_field :icon_image, label: "顔画像" %>
      <%= form.hidden_field :pr_sheet_image, label: "自己紹介シート" %>
      <%= form.text_area :description, label: "自由欄", rows: 10 %>
      <div class="actions">
        <%= form.submit '更新', :class => 'btn btn-primary' %>
      </div>
<% end %>
<h3>目標一覧</h3>
<div class="list-group">
  <% @purposes.each do |purpose| %>
    <a class="list-group-item list-group-item-action" href="<%= edit_purpose_path(purpose) %>">
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1"><%= purpose.goal1m %></p>
        <small>
          <%= ApplicationHelper.makeDateTimePastTime(purpose.created_at) %>
        </small>
      </div>
    </a>
  <% end %>
</div>
<% if current_user.id == @profile.user_id %>
  <%= link_to_if current_user.id == @profile.user_id, '目標追加', new_purpose_path(), class: 'btn btn-outline-secondary' %>
<% end %>

<script>
    function pathToFilename(path) {
        const arr = path.split(/\\|\//)
        return arr[arr.length-1]
    }
    $('#profile_icon_image').on('change',function(){
        var fileName = $(this).val();
        $(this).next('.custom-file-label').html(pathToFilename(fileName));
    })
    $('#profile_pr_sheet_image').on('change',function(){
        var fileName = $(this).val();
        $(this).next('.custom-file-label').html(pathToFilename(fileName));
    })
</script>
