<div class="card">
  <div class="card-body">
    <img src="<%= @profile.icon_image %>" style="max-width:600px;max-height:600px;">
    <p class="card-text"><%= @profile.name_kana %></p>
    <h1 class="card-title"><%= @profile.name %></h1>
    <h5><%= @profile.user.level ? "Lv.#{@profile.user.level.level}" : '' %></h5>
    <p class="card-title"><%= @profile.title %></p>
    <p class="card-text"><%= @profile.goal %></p>
    <p class="card-text"><%= @profile.message %></p>
    <img src="<%= @profile.pr_sheet_image %>" style="width:100%;height:auto;">
    <p class="card-text"><%= @profile.description %></p>
  </div>
</div>
<% if current_user.id == @profile.user_id %>
<%= link_to_if current_user.id == @profile.user_id, '編集', edit_profile_path(@profile), class: 'btn btn-outline-secondary' %>
<% end %>
<%= link_to '戻る', home_index_path, class: 'btn btn-outline-secondary' %>
