<script type="text/javascript">
  function setDialog(title, description) {
      document.getElementById('dialog-title').innerText = title
      document.getElementById('dialog-body').innerText = description
  }
</script>

<% if current_user.is_drop_out %>
  <div class="alert alert-warning" role="alert">
    ２週間以上1on1を実施していません。<a href="<%= attendances_path %>">1on1予約</a>から申し込みをしてください。<br />
    <small>
      ※プログラミングへのモチベーションが上がらない場合はアカデミーの休会・退会も可能です。悩みがあればお気軽に運営メンバーまでご相談ください。
    </small>
  </div>
<% end %>
  <h2>運営からのお知らせ</h2>
  <div class="list-group">
    <% @articles.each do |article| %>
      <a class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal1" onclick="setDialog('<%= article.title %>', '<%= article.description %>')">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= article.title %></h5>
          <small>
            <%= ApplicationHelper.makeDateTimePastTime(article.created_at) %>
          </small>
        </div>
        <small><%= article.description %></small>
      </a>
    <% end %>
  </div>
  <div class="modal" id="modal1" tabindex="-1"
       role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dialog-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="dialog-body"></div>
      </div>
    </div>
  </div>

<hr />
<h2>神戸プログラミングアカデミーのルール</h2>
