
<h3><%= @question.title %>(<%= "#{@question.stage}-#{@question.level}" %>)</h3>
<p><%= @question.question %></p>
<hr />

<h3>解答</h3>
<%= bootstrap_form_for(@answer) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :question_id %>

  <%= form.text_area :code, rows: 15, :label => 'コード'%>

  <div class="actions">
    <%= form.submit '解答する', :class => "btn btn-primary" %>
  </div>
<% end %>
