<p><%= @fromdate %>〜</p>
<form method="get" action="<% members_path %>">
<select class="form-control" id="day" name="day" onchange="submit(this.form)">
  <% for day in [2,7,14,30,60] do %>
    <option value="<%= day %>" <%= day == @day ? 'selected' : ''%>><%= "過去#{day}日" %></option>
  <% end %>
</select>
</form>

<table class="table">
  <tr>
    <th>名前</th>
    <th>ステップ</th>
    <th>SlackID</th>
    <th>勉強予定</th>
    <th>1on1予約</th>
    <th>日報</th>
  </tr>
  <% for profile in @profiles do %>
    <tr>
      <%= render 'td', val: profile.name, key: '' %>
      <td><%= link_to profile.user.level ? "#{profile.user.level.level} - #{profile.user.level.start_date.year}/#{profile.user.level.start_date.month}〜" : '未設定', new_level_path(user_id: profile.user.id)%></td>
      <%= render 'td', val: profile.slack_user_id, key: '' %>
      <%= render 'td', val: @attendances.select {|att| att.user_id == profile.user.id}.sort {|a,b| a.starts_at <=> b.starts_at}.last, key: 'date' %>
      <%= render 'td', val: @bookings.select {|bk| bk.user_id == profile.user.id}.sort {|a,b| a.date <=> b.date}.last, key: 'date' %>
      <%= render 'td', val: @daily_reports.select {|dr| dr.slack_user_id == profile.slack_user_id}.sort {|a,b| a.date <=> b.date}.last, key: 'ts' %>
    </tr>
  <% end %>
</table>